<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<meta charset="UTF-8">
<title>Administradores</title>
 
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="container">
 
        <h1 th:text=${titulo}></h1>
    <a class="btn btn-primary" th:href=@{/administradores/crear} th:text="'Crear administrador'" title="Crear nuevo administrador"></a>
    
    
    </div>
    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
            <th>Código</th>
          
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Estado</th>
            <th>NombreUsuario</th>
            </tr>                
            </thead>
            <tbody>
                <tr th:each="usuario : ${administradores}">
                    <td th:text = "${usuario.codigo}"></td>
                   
                    <td th:text = "${usuario.nombre}"></td>
                    <td th:text = "${usuario.apellido}"></td>
                    <td th:text = "${usuario.estado}"></td>
                    <td th:text = "${usuario.nombreUsuario}"></td>
                    <td>
                    <a class="btn btn-warning" th:href = "@{/administradores/modificar/} + ${usuario.codigo}">Editar</a>
                    <a class="btn btn-danger" th:href= "@{/administradores/eliminar/} + ${usuario.codigo}"
                    onclick="return confirm ('¿Desea eliminar este usuario?')">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>